* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  background-image: linear-gradient(50deg,#d98e0a,#d98ed3);
}

.header,.input {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  font-size: 45px;
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.textType {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: none;
  background-color: white;
  height: 40px;
  width: 250px;
  font-size: 20px;
  color: gray;
}

.textType:focus {
  border: none;
}

.add {
 border: none;
 height: 40px;
 width: 40px;
 color: #d98ed3;
 font-size: 30px;
 background-color: white;
 transition: all .4s ease;
}

.add:hover {
  color: white;
  background-color: #d98e0a;
}

.containerLists {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}

.toDoList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.toDoDiv {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 300px;
  flex-direction: row;
  padding: 10px;
}

.toDoButton {
  border: none;
 height: 40px;
 width: 40px;
 color: black;
 font-size: 30px;
 font-weight: bolder;
 background-color: white;
 transition: all .4s ease;
}

.toDoButton:hover {
  color: white;
  background-color: red;
}


.toDoButtonCheck {
  border: none;
 height: 40px;
 width: 40px;
 color: black;
 font-size: 30px;
 font-weight: bolder;
 background-color: white;
 transition: all .4s ease;
}

.toDoButtonCheck:hover {
  color: white;
  background-color: green;
}

.toDoLi {
  font-size: 20px;
  padding: 5px;
  align-items: center;
  display: flex;
  text-align:justify;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  list-style: none;
  text-decoration: none;
  width: 210px;
  height: 40px;
  background-color: white;
}

.completed {
  opacity: .4;
}

.dropdownButton {
  position: relative;
  height: 40px;
  width: 130px;
  margin: 10px 15px;
  color: #d98e0a;
  font-size: 20px;
  font-weight: bolder;
  background-color: white;
  border: none;
  transition: all .1s ease;
}

.dropdownButton:active {
  color: white;
  background-color: #d98e0a;
}   


.dropdownMenu {
  width: 130px;
  background-color: white;
  position: absolute;
  margin: 10px 15px;
  padding-top: 5px;
  top: 31.5%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
  
}

.dropdownList {
  color: #d98e0a;
  padding: 5px;
  text-align: center;
  display: flex;
  list-style: none;
  transition: all .2s ease;
  
}

.dropdownList:hover {
  color: white;
  background-color: #d98e0a;
}

.dropdownMenu:active {
  display: block;
}